<?xml version="1.0" encoding="UTF-8"?>
<!-- vi: set et smarttab sw2 tabstop=2: -->
<snapshot>
  <!-- This template is based on the example BGP speaker/peer configuration found at
  bgp/controller-config/src/main/resources/initial/41-bgp-example.xml of the BGPPCEP ODL module

  It assumes the inclusion of the defaults defined in 31-bgp.xml of the same module -->

  <!-- Merged capability list from 31-bgp.xml and 41-bgp-example.xml -->
  <required-capabilities>
    <capability>urn:opendaylight:params:xml:ns:yang:controller:bgp:rib:cfg?module=odl-bgp-rib-cfg&amp;revision=2013-07-01</capability>
    <capability>urn:opendaylight:params:xml:ns:yang:controller:bgp:rib:spi?module=odl-bgp-rib-spi-cfg&amp;revision=2013-11-15</capability>
    <capability>urn:opendaylight:params:xml:ns:yang:controller:bgp:rib:impl?module=odl-bgp-rib-impl-cfg&amp;revision=2013-04-09</capability>
    <capability>urn:opendaylight:params:xml:ns:yang:controller:bgp:topology:provider?module=odl-bgp-topology-provider-cfg&amp;revision=2013-11-15</capability>
    <capability>urn:opendaylight:params:xml:ns:yang:controller:bgp:reachability:ipv6?module=odl-bgp-treachability-ipv6-cfg&amp;revision=2013-11-15</capability>
    <capability>urn:opendaylight:params:xml:ns:yang:controller:bgp:reachability:ipv4?module=odl-bgp-treachability-ipv4-cfg&amp;revision=2013-11-15</capability>
    <capability>urn:opendaylight:params:xml:ns:yang:controller:md:sal:binding?module=opendaylight-md-sal-binding&amp;revision=2013-10-28</capability>
    <capability>urn:opendaylight:params:xml:ns:yang:controller:md:sal:dom?module=opendaylight-md-sal-dom&amp;revision=2013-10-28</capability>
    <capability>urn:opendaylight:params:xml:ns:yang:controller:netty?module=netty&amp;revision=2013-11-19</capability>
    <capability>urn:opendaylight:params:xml:ns:yang:controller:protocol:framework?module=protocol-framework&amp;revision=2014-03-13</capability>
    <capability>urn:opendaylight:params:xml:ns:yang:controller:topology?module=odl-topology-api-cfg&amp;revision=2013-11-15</capability>
  </required-capabilities>

  <configuration>
    <data xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
      <modules xmlns="urn:opendaylight:params:xml:ns:yang:controller:config">

        <!-- Reconnect strategy configuration. -->
        {{#reconnectStrategy}}
        <module>
          <type xmlns:prefix="urn:opendaylight:params:xml:ns:yang:controller:protocol:framework">prefix:timed-reconnect-strategy-factory</type>
          <name>reconnect-strategy-factory</name>
          <min-sleep>{{BGP_RECONNECT_SLEEP_MIN}}</min-sleep>
          <max-sleep>{{BGP_RECONNECT_SLEEP_MAX}}</max-sleep>
          <sleep-factor>{{BGP_RECONNCET_SLEEP_FACTOR}}</sleep-factor>
          <connect-time>{{BGP_RECONNCET_CONNECT_TIME}}</connect-time>
          <timed-reconnect-executor>
            <type xmlns:netty="urn:opendaylight:params:xml:ns:yang:controller:netty">netty:netty-event-executor</type>
            <name>global-event-executor</name> <!-- Defined in 31-bgp.xml -->
          </timed-reconnect-executor>
        </module>
        {{/reconnectStrategy}}

        <!--******************START OF SPEAKERS******************-->
        {{#speakerSet}}
        <!-- Peer registry (module) of {{speakerName}} -->
        <module>
          <type xmlns:prefix="urn:opendaylight:params:xml:ns:yang:controller:bgp:rib:impl">prefix:strict-bgp-peer-registry</type>
          <name>{{peerRegistry}}</name>
        </module>

        <!-- BGP speaker of {{speakerName}} -->
        <module>
          <type xmlns:prefix="urn:opendaylight:params:xml:ns:yang:controller:bgp:rib:impl">prefix:bgp-peer-acceptor</type>
          <name>{{speakerName}}</name>
          <binding-address>{{speakerAddress}}</binding-address>
          <binding-port>179</binding-port> <!-- TODO offer to configure this value -->

          <accepting-bgp-dispatcher>
            <type xmlns:prefix="urn:opendaylight:params:xml:ns:yang:controller:bgp:rib:impl">prefix:bgp-dispatcher</type>
            <name>global-bgp-dispatcher</name> <!-- Defined in 31-bgp.xml -->
          </accepting-bgp-dispatcher>
          <accepting-peer-registry>
            <type xmlns:prefix="urn:opendaylight:params:xml:ns:yang:controller:bgp:rib:impl">prefix:bgp-peer-registry</type>
            <name>{{peerRegistry}}</name>
          </accepting-peer-registry>
        </module>
        <!--*****************************************************-->
        {{/speakerSet}}
        <!--*******************END OF SPEAKERS*******************-->

        <!--*******************START OF PEERS********************-->
        {{#peerSet}}
        <!-- Peer of {{name}} -->
        <module>
          <type xmlns:prefix="urn:opendaylight:params:xml:ns:yang:controller:bgp:rib:impl">prefix:bgp-peer</type>
          <name>{{name}}</name>
          <host>{{peerAddress}}</host>
          <holdtimer>180</holdtimer>
          {{#isInternalPeer}}
          <peer-role>ibgp</peer-role>
          {{/isInternalPeer}}
          {{^isInternalPeer}}
          <peer-role>ebgp</peer-role>
          <remote-as>{{peerAutNum}}</remote-as>
          {{/isInternalPeer}}
          <advertized-table> <!-- Used as the route table for a peer/speaker relation -->
            <type xmlns:prefix="urn:opendaylight:params:xml:ns:yang:controller:bgp:rib:impl">prefix:bgp-table-type</type>
            <name>ipv4-unicast</name>
          </advertized-table>
          <rib>
            <type xmlns:prefix="urn:opendaylight:params:xml:ns:yang:controller:bgp:rib:cfg">prefix:rib</type>
            <name>{{name}}-rib</name>
          </rib>
          <peer-registry>
            <type xmlns:prefix="urn:opendaylight:params:xml:ns:yang:controller:bgp:rib:impl">prefix:bgp-peer-registry</type>
            <name>{{peerRegistry}}</name>
          </peer-registry>
        </module>

        <!-- Application peer of {{name}} -->
        <module>
          <type xmlns:x="urn:opendaylight:params:xml:ns:yang:controller:bgp:rib:impl">x:bgp-application-peer</type>
          <name>{{name}}-app-peer</name>
          <application-rib-id>{{name}}-app-rib</application-rib-id>
          <bgp-peer-id>{{speaker.speakerAddress}}</bgp-peer-id>
          <target-rib>
            <type xmlns:x="urn:opendaylight:params:xml:ns:yang:controller:bgp:rib:impl">x:rib-instance</type>
            <name>{{name}}-rib</name>
          </target-rib>
          <data-broker>
            <type xmlns:sal="urn:opendaylight:params:xml:ns:yang:controller:md:sal:dom">sal:dom-async-data-broker</type>
            <name>pingpong-broker</name>
          </data-broker>
        </module>

        <!-- RIB of {{name}} -->
        <module>
          <type xmlns:prefix="urn:opendaylight:params:xml:ns:yang:controller:bgp:rib:impl">prefix:rib-impl</type>
          <name>{{name}}-rib</name>
          <rib-id>{{name}}-rib</rib-id>
          <local-as>{{speaker.speakerAutNum}}</local-as>
          <bgp-rib-id>{{speaker.speakerAddress}}</bgp-rib-id>
          <local-table>
            <type xmlns:prefix="urn:opendaylight:params:xml:ns:yang:controller:bgp:rib:impl">prefix:bgp-table-type</type>
            <name>ipv4-unicast</name> <!-- Used as the route table for a peer/speaker relation -->
          </local-table>
          <extensions>
            <type xmlns:ribspi="urn:opendaylight:params:xml:ns:yang:controller:bgp:rib:spi">ribspi:extensions</type>
            <name>global-rib-extensions</name>
          </extensions>
          <bgp-dispatcher>
            <type xmlns:prefix="urn:opendaylight:params:xml:ns:yang:controller:bgp:rib:impl">prefix:bgp-dispatcher</type>
            <name>global-bgp-dispatcher</name>
          </bgp-dispatcher>
          <data-provider>
            <type xmlns:binding="urn:opendaylight:params:xml:ns:yang:controller:md:sal:binding">binding:binding-async-data-broker</type>
            <name>pingpong-binding-data-broker</name>
          </data-provider>
          <dom-data-provider>
            <type xmlns:sal="urn:opendaylight:params:xml:ns:yang:controller:md:sal:dom">sal:dom-async-data-broker</type>
            <name>pingpong-broker</name>
          </dom-data-provider>
          <codec-tree-factory>
            <type xmlns:binding="urn:opendaylight:params:xml:ns:yang:controller:md:sal:binding">binding:binding-codec-tree-factory</type>
            <name>runtime-mapping-singleton</name>
          </codec-tree-factory>
          <session-reconnect-strategy>
            <type xmlns:prefix="urn:opendaylight:params:xml:ns:yang:controller:protocol:framework">prefix:reconnect-strategy-factory</type>
            <name>reconnect-strategy-factory</name>
          </session-reconnect-strategy>
          <tcp-reconnect-strategy>
            <type xmlns:prefix="urn:opendaylight:params:xml:ns:yang:controller:protocol:framework">prefix:reconnect-strategy-factory</type>
            <name>reconnect-strategy-factory</name>
          </tcp-reconnect-strategy>
        </module>

        <!-- Topology of {{name}} -->
        <module>
          <type xmlns:prefix="urn:opendaylight:params:xml:ns:yang:controller:bgp:reachability:ipv4">prefix:bgp-reachability-ipv4</type>
          <name>{{name}}-ipv4-topology</name>
          <data-provider>
            <type xmlns:binding="urn:opendaylight:params:xml:ns:yang:controller:md:sal:binding">binding:binding-async-data-broker</type>
            <name>pingpong-binding-data-broker</name>
          </data-provider>
          <local-rib>
            <type xmlns:prefix="urn:opendaylight:params:xml:ns:yang:controller:bgp:rib:cfg">prefix:rib</type>
            <name>{{name}}-rib</name>
          </local-rib>
          <topology-id>{{name}}-ipv4-topology</topology-id>
        </module>
        
        <!--*****************************************************-->
        {{/peerSet}}
        <!--********************END OF PEERS*********************-->

      </modules>
      <services xmlns="urn:opendaylight:params:xml:ns:yang:controller:config">
        <!-- Reconnect strategy configuration. -->
        {{#reconnectStrategy}}
        <service>
          <type xmlns:prefix="urn:opendaylight:params:xml:ns:yang:controller:protocol:framework">prefix:reconnect-strategy-factory</type>
          <instance>
            <name>reconnect-strategy-factory</name>
            <provider>/config/modules/module[name='timed-reconnect-strategy-factory']/instance[name='reconnect-strategy-factory']</provider>
          </instance>
        </service>
        {{/reconnectStrategy}}

        <service>
          <type xmlns:bgpspi="urn:opendaylight:params:xml:ns:yang:controller:bgp:rib:impl">bgpspi:bgp-peer-registry</type>
          <!--******************START OF SPEAKERS******************-->
          {{#speakerSet}}
          <!-- Peer registry (service) of {{speakerName}} -->
          <instance>
            <name>{{peerRegistry}}</name>
            <provider>/modules/module[type='strict-bgp-peer-registry'][name='{{peerRegistry}}']</provider>
          </instance>
          <!--*****************************************************-->
          {{/speakerSet}}
          <!--*******************END OF SPEAKERS*******************-->
        </service>
        <!--*******************START OF PEERS********************-->
        {{#peerSet}}
        <service>
          <type xmlns:prefix="urn:opendaylight:params:xml:ns:yang:controller:bgp:rib:cfg">prefix:rib</type>
          <instance>
            <name>{{name}}-rib</name>
            <provider>/config/modules/module[name='rib-impl']/instance[name='{{name}}-rib']</provider>
          </instance>
        </service>
        <service>
          <type xmlns:prefix="urn:opendaylight:params:xml:ns:yang:controller:bgp:rib:impl">prefix:rib-instance</type>
          <instance>
            <name>{{name}}-rib</name>
            <provider>/config/modules/module[name='rib-impl']/instance[name='{{name}}-rib']</provider>
          </instance>
        </service>
        <service>
          <type xmlns:prefix="urn:opendaylight:params:xml:ns:yang:controller:topology">prefix:topology-reference</type>
          <instance>
            <name>{{name}}-ipv4-topology</name>
            <provider>/config/modules/module[name='bgp-reachability-ipv4']/instance[name='{{name}}-ipv4-topology']</provider>
          </instance>
        </service>
        <!--*****************************************************-->
        {{/peerSet}}
        <!--********************END OF PEERS*********************-->
      </services>
    </data>
  </configuration>
</snapshot>
